/* Global configuration */


/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200;300;500&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap');
h1 {
    font-size: 2 rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 1.5 rem;
    font-weight: 400;
    text-transform: uppercase;
}

h5 {
    font-family: 'Saira', Arial, Helvetica, sans-serif;
    color: #FE5F55;
    font-weight: bold;
}

p {
    font-family: 'Saira', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
    text-align: justify;
}

.btn {
    font-family: 'Saira', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.card-link,
.card-link:focus {
    font-family: 'Saira', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #5f97af;
}

.card-link:hover {
    color: rgba(0, 0, 0, 0.65);
}


/* Image Format */

.imgResp {
    height: 100%;
    width: 100%;
    transition: all 500ms;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Menu Custom */

.navbar-brand {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-variant: small-caps;
    color: #5f97af;
}

.navbar-brand:hover,
.navbar-brand:focus {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    color: #5f97af;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link.active {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.65);
}

.nav-link.active:hover,
.nav-link.active:focus {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.65);
}

.nav-link.disable {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-variant: small-caps;
    color: rgba(95, 151, 175, 0.65);
}

.nav-link.disable:hover,
.nav-link.disable:focus {
    font-family: 'Bebas', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.65);
}


/*  Configuration Mobile */

@media screen and (max-width: 768px) {
    /* Custom Menu Mobile */
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: right;
    }
    .chiffre {
        font-size: 70px;
    }
    .card-title {
        font-size: 20 px;
    }
    .carousel-caption>p {
        color: #FFFFFF;
        font-weight: 600;
    }
    .btn {
        font-family: 'Saira', Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 11px;
        font-weight: 400;
    }
}


/* Configuration > 768px */

@media screen and (min-width: 768px) {
    /* Custom Menu */
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .navbar-nav>li {
        display: inline-block;
        float: none;
    }
    .banner {
        height: 20vh;
    }
}


/* Configuration > 768px */

@media screen and (min-width: 768px) {
    /* Custom Banner */
    .banner,
    .card-wide {
        height: 20vh;
    }
    .card-wide {
        grid-column: span 2 / auto;
    }
    .card-tall {
        grid-row: span 2 / auto;
    }
}


/* Configuration > 1200px */

@media screen and (min-width: 1200px) {
    .banner,
    .card-wide {
        height: 50vh;
    }
}