/* Global configuration */


/* Image Format */

.imgResp {
    height: 100%;
    width: 100%;
    transition: all 500ms;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*  Configuration Mobile */

@media screen and (max-width: 768px) {
    /* Custom Menu Mobile */
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: right;
    }
}


/* Configuration > 768px */

@media screen and (min-width: 768px) {
    /* Custom Menu */
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .navbar-nav>li {
        display: inline-block;
        float: none;
    }
}